body, html {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(56, 56, 46);
  }




#imagem1 {
    background-image: url(/imagens/foto1.jpg);
    width: 1366px;
    height: 768px;
    min-height: 700px;
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 645px;
  }

  #imagem2 {
    background-image: url(/imagens/foto2.jpg);
    position: absolute;
    width: 1366px;
    height: 768px;
    width: 101%;
    top: 815px;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 645px;
  }

  #imagem3 {
    background-image: url(/imagens/foto3.jpg);
    position: absolute;
    width: 101%;
    top: 1630px;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 645px;
  }


  #imagem4 {
    background-image: url(/imagens/foto4.jpg);
    position: absolute;
    width: 101%;
    top: 2285px;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 645px;
  }

  #imagem5 {
    background-image: url(/imagens/foto5.jpg);
    position: absolute;
    width: 101%;
    top: 2940px;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 645px;
  }

  #imagem6 {
    background-image: url(/imagens/foto6.jpg);
    position: absolute;
    width: 101%;
    top: 3595px;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 645px;
  }

  #imagem7 {
    background-image: url(/imagens/foto7.jpg);
    position: absolute;
    width: 101%;
    top: 4250px;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 645px;
  }

  #imagem8 {
    background-image: url(/imagens/foto8.jpg);
    position: absolute;
    width: 101%;
    top: 4910px;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 645px;
  }

  #imagem9 {
    background-image: url(/imagens/foto9.jpg);
    position: absolute;
    width: 101%;
    top: 5560px;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 645px;
  }

  #imagem10 {
    background-image: url(/imagens/foto10.jpg);
    position: absolute;
    width: 101%;
    top: 6215px;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 645px;
  }